@import './base.scss';
.ai {
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    .ai-bot {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        background-color: $primary-color;
        border-radius: 50%;
        .fa-robot {
            color: $white-color;
            font-size: 4rem;
            width: 5rem;
            height: 5rem;
        }
    }
}
