@import './base.scss';

.detail {
    display: flex;
    background-color: $white-color;
    height: 80rem;
    padding: 1.6rem;
    margin: 15rem auto 5rem auto;
    .img-detail {
        .img-detail-photo {
            width: 45rem;
            height: 45rem;
        }
        .all-image {
            padding: 0 0.5rem;
            width: 45rem;
            display: flex;
            .mini-image-detail {
                width: 25%;
                height: 10rem;
                overflow: hidden;
            }
        }
    }
}
.infomation-detail {
    margin: 0 0 0 3.6rem;
    text-align: left;
    .name-detail {
        font-size: 2rem;
        font-weight: 400;
    }
    .price-detail {
        font-size: 3rem;
        color: $primary-color;
        padding: 1.5rem;
        font-weight: 400;
        background-color: $background-color;
        .currency-primary {
            font-size: 2rem;
            color: $primary-color;
            text-decoration: underline;
        }
        span {
            color: $saled-color;
            font-size: 2rem;
            .price-not-sale {
                text-decoration: line-through;
                margin-right: 2rem;
            }
            .currency {
                text-decoration: underline;
                font-size: 1.5rem;
                vertical-align: top;
            }
        }
    }
    .genera-detail {
        margin-bottom: 2.5rem;
        display: flex;
        .left {
            padding: 0.4rem;
            width: 11rem;
            color: $saled-color;
            font-size: 1.4rem;
        }
        .right {
            width: 51.2rem;
            margin-left: 5rem;
            font-size: 1.4rem;
            color: $black-color;
            .btn-color {
                position: relative;
                border-radius: 2px;
                height: 3.2rem;
                width: 9.5rem;
                background-color: $white-color;
                margin-right: 2.5rem;
                border: 1px solid rgba(0, 0, 0, 0.09);
            }
            .btn-color:hover {
                border: 1px solid $primary-color;
            }

            .btn-color-choice {
                position: relative;
                height: 3.2rem;
                width: 9.5rem;
                background-color: $white-color;
                margin-right: 2.5rem;
                border: 1px solid $primary-color;
            }
            .tick-mark {
                position: absolute;
                display: flex;
                bottom: 0;
                height: 0;
                width: 0;
                right: 0;
                border: 10px solid transparent;
                border-bottom-color: $primary-color;
                border-right-color: $primary-color;
                content: '';
            }
            .fa-check {
                margin-right: 0.1rem;
                color: $white-color;
                font-size: 1rem;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .up-down-amount {
            display: flex;
            .volumn {
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.09);
                display: flex;
                width: 3.2rem;
                height: 3.2rem;
                align-items: center;
                justify-content: center;
            }
            .amount-number {
                border: 1px solid rgba(0, 0, 0, 0.09);
                display: flex;
                width: 5rem;
                height: 3.2rem;
                align-items: center;
                justify-content: center;
            }
            .amount-available {
                font-size: 1.4rem;
                color: $black-color;
                display: flex;
                align-items: center;
                margin-left: 2.5rem;
            }
        }
    }
    .logistic {
        .logistic-right {
            display: block;
            .right-left {
                color: $saled-color;
            }
            .logistic-address {
                display: flex;
                .address {
                    width: 23.6rem;
                    margin-left: 2.5rem;
                }
            }
            .logistic-fee {
                display: flex;
                .fee {
                    margin-left: 2.5rem;
                }
            }
        }
    }
    .buy-product {
        .add-to-cart {
            font-weight: 400;
            width: 21.8rem;
            height: 4.8rem;
            padding: 0 2rem;
            margin: 0 1.5rem 0 0;
            font-size: 1.6rem;
            color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffeee8;
            border: 1px solid #ee4d2d;
            border-radius: 2px;
            cursor: pointer;
            .fa-cart-plus {
                margin-right: 0.5rem;
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
        .buy-now {
            font-weight: 400;
            width: 11.4rem;
            height: 4.8rem;
            font-size: 1.6rem;
            color: $white-color;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            background-color: #ee4d2d;
            border: 1px solid #ee4d2d;
            border-radius: 2px;
        }
    }
}
.button {
    position: relative;
    display: block;
    width: 120px;
    height: 50px;
    background: blue;
}
