@import './base.scss';

.login-register {
    height: 100vh;
    padding: 10rem 0 0 60.4rem;
    background-image: linear-gradient(0, #00015a, #0b02b1);
    .login {
        margin-top: 5rem;
        border-radius: 5px;
        background-color: $white-color;
        font-size: 1.6rem;
        width: 40rem;
        height: 48.2rem;
        display: block;
        .title {
            display: flex;
            font-size: 2rem;
            height: 10.3rem;
            padding: 2.2rem 3rem;
            align-items: center;
        }
        input {
            padding: 0 2rem;
            width: 33.8rem;
            height: 4rem;
            margin-bottom: 2rem;
            border-radius: 2px;
            border: 1px solid rgb(133, 133, 133);
            outline: none;
        }
        .btn-sign-in {
            width: 34rem;
            height: 4rem;
            padding: 0 1rem;
            font-size: 1.4rem;
            color: $white-color;
            background-color: $primary-color;
            box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
            border: none;
            border-radius: 2px;
        }
        .forgot-password {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem 3rem;
            color: #05a;
            font-size: 1.2rem;
        }
        .sign-up {
            display: flex;
            justify-content: center;
            font-size: 1.4rem;

            span {
                color: rgba(0, 0, 0, 0.26);
            }
            .btn-sign-up {
                margin: 0 1rem;
                color: $primary-color;
                font-weight: 400;
                font-size: 1.5rem;
            }
        }
    }
}
