@import './base.scss';
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(0, #ff6533, #f53e2d);
    height: 11.8rem;
    color: $white-color;
    padding: 0.4rem 0;
    .navbar-header {
        display: flex;
        .navbar-search {
            background-color: $white-color;
            width: 84rem;
            height: 4.1rem;
            margin: 2rem 5rem 2rem 20rem;
            border-radius: 2px;
            display: flex;
            align-items: center;
            .navbar-search-input {
                border: 0;
                outline: 0;
                width: 76rem;
                font-size: 1.5rem;
                font-weight: 400;
                margin: 0 0.5rem;
            }
            .navbar-search-button {
                background-color: $primary-color;
                width: 6rem;
                height: 3.4rem;
                margin: 0 0.3rem;
                border-radius: 2px;
                display: flex;
                .fa-search {
                    margin: auto;
                    color: $white-color;
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
        .navbar-header-button-cart {
            display: flex;
            height: 4.5rem;
            width: 4.7rem;
            position: relative;
            margin: 2.5rem 0 0 0;
            align-items: center;
            .fa-shopping-cart {
                font-size: 2.5rem;
            }
            .quantity-product-in-cart {
                border: 1px solid $primary-color;
                width: 3rem;
                height: 2rem;
                top: 0;
                right: 0;
                text-align: center;
                position: absolute;
                border-radius: 40px;
                background-color: $white-color;
                color: $primary-color;
                font-size: 1.4rem;
            }
        }
    }
    .first-navbar {
        position: relative;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;

        .first-navbar-left {
            display: flex;
            .first-navbar-left-item {
                margin: 0 0.8rem;
                i {
                    margin: 0 0.4rem;
                }
            }
        }
        .first-navbar-right {
            display: flex;
            .first-navbar-right-item {
                margin: 0 0.8rem;
                text-decoration: none;
                color: $white-color;
            }

            .notification {
                visibility: hidden;
                top: 0.5rem;
                right: 0.5rem;
                position: absolute;
                .arrow-up {
                    margin: 0 0 0 60%;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $white-color;
                }
                .square {
                    border-radius: 0.2rem;
                    width: 15.2rem;
                    background-color: $white-color;
                    padding: 1rem;
                    color: $black-color;
                    .in-square {
                        cursor: pointer;
                        margin-bottom: 2rem;
                    }
                }
            }
            .info:hover ~ .notification {
                visibility: inherit;
            }
            .notification:hover {
                visibility: inherit;
            }
        }
    }
}
