@import './base.scss';

.last-payment {
    margin: 15rem auto;
    font-size: 1.6rem;
    .address {
        margin-bottom: 3rem;
        height: 11.28rem;
        background-color: $white-color;
        text-align: start;
        padding: 2.8rem 3rem 2.4rem;
        .title {
            font-size: 2rem;
            color: $primary-color;
            margin-bottom: 2rem;
            i {
                margin-right: 1rem;
            }
        }
        .content {
            display: flex;
            align-items: center;
            .name-number-phone {
                font-weight: 500;
                margin-right: 2rem;
                .input-name {
                    width: 20rem;
                    margin-right: 2rem;
                    outline: 0;
                    height: 3rem;
                }
                .input-phone-number {
                    width: 18rem;
                    outline: 0;
                    height: 3rem;
                }
            }
            .input-user-address {
                height: 3rem;
                outline: 0;
                width: 50rem;
            }
            .default {
                margin-left: 2rem;
                border: 1px solid #ccc;
                color: $saled-color;
                padding: 2px;
            }
            .btn-change-address {
                margin-left: 5rem;
                background-color: $primary-color;
                padding: 0.6rem;
                border: none;
                color: $white-color;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
    .payment-product {
        background-color: $white-color;
        .title {
            margin-bottom: 2rem;
            padding: 2.4rem 3rem 0rem;
            display: flex;
            justify-content: space-between;
            .left {
                font-size: 2rem;
                font-weight: 500;
            }
            .right {
                color: $saled-color;
                display: flex;
                justify-content: end;
                .right-title {
                    padding: 0rem 0rem 0rem 10rem;
                }
            }
        }
        .list-product {
            .payment-child-product {
                display: flex;
                height: 5.5rem;
                align-items: center;
                font-size: 1.4rem;
                padding: 0rem 3rem 2rem;
                img {
                    height: 4rem;
                    width: 4rem;
                    margin-right: 2rem;
                }
                .payment-child-product-name {
                    width: 38rem;
                    margin-right: 30rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .payment-child-product-more {
                    width: 5rem;
                    text-align: end;
                }
                .middle {
                    margin: 0rem 14rem 0rem 9rem;
                }
            }
        }
    }
    .voucher-in-payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-color;
        margin-top: 2rem;
        padding: 4rem 3rem;
        .voucher-title {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            .voucher-icon {
                width: 4rem;
                height: 4rem;
                margin-right: 2rem;
            }
        }
        .action {
            color: $primary-color;
            cursor: pointer;
        }
    }
    .payment-methods {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-color;
        margin-top: 2rem;
        padding: 4rem 3rem;
        .payment-methods-title {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
        }
    }
    .last-check {
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: $white-color;
        margin-top: 2rem;
        padding: 4rem 3rem;
        .last-check-child {
            width: 30rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            .total {
                color: $primary-color;
                font-size: 1.8rem;
            }
        }
        .last {
            display: flex;
            justify-content: end;
            .btn {
                height: 4rem;
                width: 10rem;
                border-radius: 3px;
                border: none;
                background-color: $primary-color;
                font-size: 1.4rem;
                color: $white-color;
                padding: 1.3rem 2rem;
                cursor: pointer;
            }
        }
    }
    .voucher-page {
        .voucher {
            position: relative;
            overflow: scroll;
            border-radius: 3px;
            padding: 0rem 0rem 3rem 0px;
            margin: 10% auto;
            width: 63rem;
            height: 50rem;
            background-color: $white-color;
            .header-voucher {
                position: fixed;
                background-color: $white-color;
                width: 60rem;
                height: 12rem;
                padding: 3rem 3rem 0px;
                .input-code {
                    background-color: #ccc;
                    font-size: 1.4rem;
                    width: 55.6rem;
                    height: 7rem;
                    padding: 1.5rem;
                    .title {
                        margin: 0px 1rem 0px 0px;
                    }
                    .voucher-code {
                        border-radius: 3px;
                        width: 33.8rem;
                        height: 4rem;
                        padding: 1rem;
                        outline: 0;
                        border: 1px solid rgba(0, 0, 0, 0.14);
                    }
                    .voucher-button {
                        border-radius: 2px;
                        padding: 0.8rem 1rem;
                        margin: 0px 0px 0px 0.8rem;
                        background-color: $white-color;
                        border: none;
                        height: 4rem;
                        width: 9.5rem;
                    }
                }
            }
            .list-voucher {
                padding: 3rem 3rem 1rem;
                margin: 10rem 0px 0px 0px;
                .voucher-freeship {
                    .child-voucher {
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        border: 1px solid rgba(149, 157, 165, 0.2);
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        .img {
                            color: $white-color;
                            margin-right: 2rem;
                            background-color: #00bfa5;
                            padding: 3rem 0px;
                            display: block;
                            width: 11.8rem;
                            height: 11.8rem;
                        }
                        .decripstion {
                            color: $black-color;
                            width: 28rem;
                        }
                        input {
                            margin-left: 5rem;
                            width: 2rem;
                            height: 2rem;
                            outline: 0;
                        }
                    }
                }
                .voucher-discount {
                    .child-voucher {
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        border: 1px solid rgba(149, 157, 165, 0.2);
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        .img {
                            color: $white-color;
                            margin-right: 2rem;
                            background-color: #bf4000;
                            padding: 3rem 0px;
                            display: block;
                            width: 11.8rem;
                            height: 11.8rem;
                        }
                        .decripstion {
                            width: 28rem;
                            color: $black-color;
                        }
                        input {
                            margin-left: 5rem;
                            width: 2rem;
                            height: 2rem;
                            outline: 0;
                        }
                    }
                }
            }
            .footer-voucher {
                position: fixed;
                background-color: $white-color;
                width: 61rem;
                height: 8rem;
                bottom: 10rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-top: 1px solid#ccc;
                button {
                    border-radius: 3px;
                    border: none;
                    width: 12rem;
                    height: 4rem;
                }
                .ok {
                    background-color: #0055aa;
                    color: $white-color;
                }
            }
        }
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
