@import './base.scss';

.login-register {
    height: 100vh;
    padding: 10rem 0 0 60.4rem;
    background-image: linear-gradient(0, #13293d, #045e93);
    .login {
        margin-top: 5rem;
        border-radius: 5px;
        background-color: $white-color;
        font-size: 1.6rem;
        width: 40rem;
        height: 55rem;
        display: block;
        .title {
            display: flex;
            font-size: 2rem;
            height: 10.3rem;
            padding: 2.2rem 3rem;
            align-items: center;
        }
        input {
            padding: 0 2rem;
            width: 33.8rem;
            height: 4rem;
            margin-bottom: 2rem;
            border-radius: 2px;
            border: 1px solid rgb(133, 133, 133);
            outline: none;
        }
        .btn-sign-in {
            width: 34rem;
            height: 4rem;
            padding: 0 1rem;
            font-size: 1.4rem;
            color: $white-color;
            background-color: $primary-color;
            box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
            border: none;
            border-radius: 2px;
        }
        .forgot-password {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem 3rem;
            color: #05a;
            font-size: 1.2rem;
        }
        .error-msg {
            color: red;
            margin: 1rem;
        }
        .sign-up {
            display: flex;
            justify-content: center;
            font-size: 1.4rem;

            span {
                color: rgba(0, 0, 0, 0.26);
            }
            .btn-sign-up {
                margin: 0 1rem;
                color: $primary-color;
                font-weight: 400;
                font-size: 1.5rem;
            }
        }
        .verify{
            padding: 2rem;
            .title{
            display: flex;
            font-size: 2rem;
            height: 10.3rem;
            padding: 1.5rem ;
            align-items: center;
            }
            .content{
                font-size: 1.4rem;
                padding: 0rem 1.5rem ;
                text-align: left ;
                color: #999;
            }
            .input-code{
                padding: 2rem 1.5rem ;
                text-align: start;
                input{
                    width: 22rem;
                    margin-right: 2rem;
                    font-size: 1.8rem;
                }
                button{
                    height: 4rem;
                    width: 8rem;
                    border-radius: 3px;
                    background-color: $primary-color;
                    color: $white-color;
                    border: none;
                }
            }
            .send-again{
                text-align: end;
                padding: 0rem 1.5rem;
                .send{
                    color: $primary-color;
                    padding: 0rem 1rem;
                }
            }
        }
    }
}
