@import 'normalize.css';
@import './src/styles/base.scss';
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif, 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    background-color: $background-color;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_fullwidth {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}
